.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 80px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
}

.day {
  color: white;
  background-color: rgba(42, 221, 253, 0.712);
  text-align: center;
  font-size: 25px;
}

.content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.712);
}

.temp,
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  justify-content: space-around;
}

img {
  height: 150px;
  width: 150px;
}

.celcius {
  font-size: 40px;
  font-weight: bold;
}

.description {
  margin: 0px 10px;
  text-align: center;
  font-size: 14px;
  color: black;
}
