*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}

body {
  background: url("../resources/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px;
  padding: 10px 20px;
}

.title {
  font-size: 60px;
  color: white;
}

.weather-container {
  margin: 0px 150px;
}

.local {
  color: white;
  font-size: 30px;
}

span {
  color: white;
  font-size: 20px;
}

label {
  color: white;
}

#weather {
  border-radius: 10px;
  border: none;
  padding-left: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 10px;
}

button {
  color: white;
  background: none;
  padding: 2px 8px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 1px 10px white;
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  gap: 15px;
}
